body {
    font-family: "Gideon Roman", serif;
    margin: 0;
}

/* Header Code Here */
header {
    background-color: #86241F;
    padding: 1rem 10px;
    text-align: center;
}

header span {
    color: goldenrod;
    font-size: 2rem;
    font-weight: 900;

}

/* Nav Code Here */
nav {
    background-color: tan;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: 0.83rem 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    color: #644936;
    font-weight: 800;
}

nav li.Current a {
    background-color: brown;
    color: goldenrod;
}

nav li a:hover {
    color: antiquewhite;
}

/* Main Code Here */
main {
    padding: 1rem;
    color: #333;
}

main ul {
    list-style-type: square;
}

main p a {
    color: #644936;
    font-style: normal;
    background-color: tan;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid #86241F;
    width: 200px;
    text-decoration: none;
}

main p a:hover {
    color: goldenrod;
    background-color: brown;
}

main address {
    font-style: normal;
    background-color: #efefef;
    padding: 0.7rem;
    border-radius: 10px;
    border: 2px solid #86241F;
    width: 200px;
}

/* Footer Code Here */
footer {
    background-color: #efefef;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;
    color: #333;
}

footer p {
    margin: 0;
    letter-spacing: 3px;
}