body {
    font-family: "Gideon Roman", serif;
    margin: 0;
}

/* Header Code Here */
header {
    background-image: linear-gradient(to bottom, rgb(205, 5, 5), brown, #86241F);
    padding: 1rem 10px;
    text-align: center;
}

header span {
    color: goldenrod;
    font-size: 2rem;
    font-weight: 900;

}

/* Small Screen Navigation */
@media only screen and (max-width: 800px) {
    nav ul {
        margin: 0;
        padding: 0;
    }

    nav a {
        display: block;
        text-align: center;
        padding: 0.8rem;
        color: goldenrod;
        text-decoration: none;
        border-bottom: solid 1px Brown;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #86241F;
    }

    nav .active a {
        background-color: #86241F;
        color: white;
        background-image: linear-gradient(to bottom, #8b5022, #663b19);
    }

    nav li.Current a {
        background-color: brown;
        color: goldenrod;
    }

    nav li a:hover {
        color: antiquewhite;
    }
}

/* Large Screen Navigation */
@media only screen and (min-width: 801px) {
    nav {
        background-color: tan;
    }

    nav ul {
        margin: 0;
        padding: 0 10px;
        list-style-type: none;
        display: flex;
    }

    nav a {
        display: block;
        padding: 0.83rem 1rem;
        text-decoration: none;
        font-size: 1.3rem;
        color: #644936;
        font-weight: 800;
    }

    nav li.Current a {
        background-color: brown;
        color: goldenrod;
    }

    nav li a:hover {
        color: antiquewhite;
    }
}

/* Main Code Here */
main {
    padding: 1rem;
    color: #333;
}

main ul {
    list-style-type: square;
}

main p a {
    color: #644936;
    font-style: normal;
    background-color: tan;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid #86241F;
    width: 200px;
    text-decoration: none;
}

main p a:hover {
    color: goldenrod;
    background-color: brown;
}

main address {
    font-style: normal;
    background-color: #efefef;
    padding: 0.7rem;
    border-radius: 10px;
    border: 2px solid #86241F;
    width: 200px;
}

.hero {
    width: 50%;
    height: auto;
}

/* Gallery Code Here */
div.Gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
}

div.Gallery figure {
    margin: 0;
    border: #86241F;
    border-style: solid;
    padding: 0;
}

div.Gallery figcaption {
    text-align: center;
    font-size: 1rem;
    color: goldenrod;
    background-color: brown;
    padding: 0px;
    margin-top: -5px;
}

.box:hover {
    box-shadow: 0px 0px 10px black;
}

/* Form Code Here */

.myform fieldset {
    border: 1px solid #86241F;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myform legend {
    color: goldenrod;
    font-size: 1rem;
    background-color: brown;
}

/* image stuff here */
.teamHero,
.image-right img {
    width: 100%;
    height: auto;
}

.image-right {
    float: right;
    margin: 0 0 0 2vw;
    width: 50%;
}

.image-right figcaption {
    text-align: center;
    font-size: .8rem;
}

/* table stuff here */
.jobs {
    width: 100%;
    border-collapse: collapse;
}

table.jobs th {
    background-image: linear-gradient(to top, rgb(205, 5, 5), brown, #86241F);
    color: goldenrod;
    padding: 0.6rem 2%;
    text-align: center;
}

table.jobs td {
    color: #333;
    padding: 0.4rem 2%;
    text-align: center;
}

table.jobs Tr:nth-child(odd) {
    background-color: #eee;

}

table.jobs Tr:hover {
    background-color: #ddd;
}

/* Footer Code Here */
footer {
    background-color: #efefef;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;
    color: #333;
}

footer p {
    margin: 0;
    letter-spacing: 3px;
}